

body {
    margin: 0;
    padding: 0;
    background: #B5AF8F;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.truncate {
    flex: 1;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@font-face {
    font-family: backcountry;
    src: url(./assets/fonts/BACKCOUNTRY-Regular.ttf);
  }

.selected-row {
  background-color: #e2bd81;
}

.selected-row:hover {
  background-color: #e5a641;
}

.mui-button-override button {
  color: black;
}